.header__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.header__shoppingcart,
.header__ticket {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}