.homepage__container {
  background-color: #231F42;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.homepage__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  animation: floatIcon 3s ease-in-out infinite;
 
  width: 100%;
}

.homepage__logo img {
  width: clamp(100px, 50%, 180px);
  
}

.homepage__title {
  font-family: var(--font-heading);
  font-style: italic;
  font-size: clamp(18px, 6vw, 30px);
  color: var(--pink);
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
  margin-top: 10px;
}

.homepage__subtitle {
  font-size: clamp(18px, 3.5vw, 20px);
  color: var(--white-80);
  font-style: italic;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  text-align: center;
}

@keyframes floatIcon {
  0%, 100% { transform: translateY(0); }
  50%       { transform: translateY(-8px); }
}
